# general
apidocs
.directory
.kdev4
build
*~
*.patch
*.diff
*.bak
*.orig
*.pyc
*.rej
*.swp
doxygen.log
Doxyfile
*.kdevelop
*.kdevelop.filelist
*.kdevelop.pcs
*.kdevses
.*kate-swp
build/
mem.log.*
massif.*
callgrind.*
perf.data*

# vnext
vnext/sample_data/
vnext/implementations/**/node_modules/
vnext/implementations/**/dist/
vnext/implementations/**/.vite/

# from kdiff3
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
